<div class="top-space"></div>
<section id="header">
  <a href="/" class="route-link">
    <div class="left-wrapper">
      <div class="left-header">
        <img class="logo-img" src="/images/clip-arts/Logo.jpg" alt="web logo" />
        <span id="club-name">Anti Gravity</span>
      </div>
    </div>
  </a>

  {{!-- Order progress bar --}}
  <ul class="flex marginY-10 hide progress-bar">

    <li class="marginY-10 flex-dir-col">
      <div class="justify-center">
        <img src="/images/clip-arts/green-checkmark.png" alt="checkmark">
      </div>
      <span class="Segoe-UI-15">nhận đơn</span>

    </li>

    <div class="marginY-10 indicator"></div>

    <li class="marginY-10 flex-dir-col">
      <div class="justify-center">
        <img class="icon-done" src="/images/clip-arts/process-icon.png" alt="checkmark">

      </div>
      <span class="Segoe-UI-15">đóng gói</span>
    </li>

    <div class="marginY-10 indicator"></div>

    <li class="marginY-10 flex-dir-col">
      <div class="justify-center">
        <img src="/images/clip-arts/shipping-icon.png" alt="checkmark">

      </div>
      <span class="Segoe-UI-15">vận chuyển</span>
    </li>

    <div class="marginY-10 indicator"></div>

    <li class="marginY-10 flex-dir-col">
      <div class="justify-center">

        <img src="/images/clip-arts/receiving-icon.png" alt="checkmark">
      </div>
      <span class="Segoe-UI-15">nhận hàng</span>
    </li>

  </ul>

  {{!-- --- --}}

  <div class="right-wrapper">
    <a href="/cart" class="route-link">
      <div class="right-header">
        <div class="cart-box">
          <img id="cart-logo" src="/images/clip-arts/cart-icon.png" />

          <span class="numberOfItem">
            {{numberOfItem}}
          </span>

        </div>
        <div class="whish-list">XEM GIỎ HÀNG</div>
        <div class="extend-arrow"><img id="extend-icon" src="/images/clip-arts/extend-arrow.png" /></div>
      </div>
    </a>
    <div class="cart-container">

      <div class="total-money-container">
        {{!-- display ordered products --}}
        {{#each cart}}
        <div class="order-list">
          <img src={{this.img}}>
          <div class="order-infor">
            <span>{{this.name}}</span>

            <span id="order-price">{{format this.price}}₫</span>

            <div class="order-quanti">
              <button onclick=decreaseQuantity({{this.et}})>-</button>
              <span>{{this.quantity}}</span>
              <button onclick=increaseQuantity({{this.et}})>+</button>
            </div>
          </div>

          <div class="remove-btn" onclick=deleteItem({{this.et}})>&times;</div>

        </div>
        {{/each}}
        {{!-----------------------------}}

        <div class="subTotal">
          <span>Tổng tiền:</span>
          <span id="total">{{format subTotal}}₫</span>
        </div>

        <a href="/cart" class="route-link">
          <div class="checkout">
            <span class="preview">XEM GIỎ HÀNG</span>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>

<script>

  //send a delete method to cart
  function deleteItem(et) {

    var xhttp = new XMLHttpRequest();
    xhttp.open("DELETE", `/cart?et=${et}`);
    xhttp.send();

    setTimeout(function () { window.location.reload() }, 100);
  }
  //increase item quantity 
  function increaseQuantity(et) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("PUT", `/cart?et=${et}&update=1`);
    xhttp.send();

    setTimeout(function () { window.location.reload() }, 100);
  }
  //decrease item quantity
  function decreaseQuantity(et) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("PUT", `/cart?et=${et}&update=-1`);
    xhttp.send();

    setTimeout(function () { window.location.reload() }, 100);
  }

</script>