<div class="supplement-container">

    <div class="brand">
        <div class="justify-center">
            <img src="/images/banners/EVLutionNutrition-logo.png" alt="EVL logo">
        </div>
        <div class="flex-spaceout">
            {{!-- this data will later be fetch from MongoDb --}}

            {{#each Evls}}
            <a href="/supplement/view?et={{this.et}}&col=Evl" class="route-link">
                <div class="box">
                    <div class="h30-whitesmoke">

                        <div class="{{this.trending}} Teko-15-300 Evlution-Nutrition">
                            trending
                        </div>

                        <img src={{this.img}} alt={{this.alt}}>


                    </div>

                    <div class="marginY-10">
                        <div class="supplement-info">
                            <span class="Teko-25">{{this.name}}</span>

                            <div class="marginY-10">
                                <div class="rated">
                                    <span class="fa fa-star checked-Evl-N"></span>
                                    <span class="fa fa-star checked-Evl-N"></span>
                                    <span class="fa fa-star checked-Evl-N"></span>
                                    <span class="fa fa-star checked-Evl-N"></span>
                                    <span class="fa fa-star checked-Evl-N"></span>

                                    <span class="Teko-25-300">({{this.rate}})</span>
                                </div>
                            </div>

                            <span class="Teko-25-400">{{format this.price}}</span>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}

        </div>

    </div>

    <div class="brand">
        <div class="justify-center">
            <img src="/images/banners/MuscleTech-logo.png" alt="MuscleTech logo">
        </div>

        <div class="flex-spaceout">
            {{!-- this data will later be fetch from MongoDb --}}

            {{#each Mts}}
            <a href="/supplement/view?et={{this.et}}&col=MT" class="route-link">
                <div class="box">
                    <div class="h30-whitesmoke">

                        <div class="{{this.trending}} Teko-15-300 Muscle-Tech">
                            trending
                        </div>

                        <img src={{this.img}} alt={{this.alt}}>


                    </div>

                    <div class="marginY-10">

                        <div class="supplement-info">
                            <span class="Teko-25">{{this.name}}</span>

                            <div class="marginY-10">
                                <div class="rated">
                                    <span class="fa fa-star checked-MuscleTech"></span>
                                    <span class="fa fa-star checked-MuscleTech"></span>
                                    <span class="fa fa-star checked-MuscleTech"></span>
                                    <span class="fa fa-star checked-MuscleTech"></span>
                                    <span class="fa fa-star checked-MuscleTech"></span>

                                    <span class="Teko-25-300">({{this.rate}})</span>
                                </div>
                            </div>

                            <span class="Teko-25-400">{{format this.price}}</span>
                        </div>

                    </div>
                </div>
            </a>
            {{/each}}

        </div>

    </div>


    <div class="brand">
        <div class="justify-center">
            <img src="/images/banners/MUTANT-logo.png" alt="MUTANT logo">
        </div>

        <div class="flex-spaceout">
            {{!-- this data will later be fetch from MongoDb --}}

            {{#each Mutants}}
            <a href="/supplement/view?et={{this.et}}&col=Mtnt" class="route-link">
                <div class="box">
                    <div class="h30-whitesmoke">

                        <div class="{{this.trending}} Teko-15-300 MUTANT">
                            trending
                        </div>

                        <img src={{this.img}} alt={{this.alt}}>


                    </div>

                    <div class="marginY-10">

                        <div class="supplement-info">
                            <span class="Teko-25">{{this.name}}</span>

                            <div class="marginY-10">
                                <div class="rated">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>

                                    <span class="Teko-25-300">({{this.rate}})</span>
                                </div>
                            </div>

                            <span class="Teko-25-400">{{format this.price}}</span>
                        </div>

                    </div>
                </div>
            </a>
            {{/each}}

        </div>
    </div>
